.minimizable-web-chat>button.maximize {
  background-color: #667CB1;
  border-radius: 50%;
  border: 2px solid #667CB1;
  bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  color: White;
  font-size: 30px;
  height: 64px;
  outline: 0;
  padding: 15px;
  position: fixed;
  right: 20px;
  width: 64px;
}

.minimizable-web-chat>button.maximize>.red-dot {
  color: #375497;
  font-size: 14px;
  position: absolute;
  right: 12px;
  top: 12px;
}

.minimizable-web-chat>button.maximize:focus:not(:active), .minimizable-web-chat>button.maximize:hover:not(:active) {
  background-color: White;
  border-color: #112D70;
  color: #112D70
}

.minimizable-web-chat>button.maximize:active {
  background-color: White;
  border-color: #112D70;
  color: #112D70
}

/* .minimizable-web-chat>.chat-box {
  background-color: rgba(255, 255, 255, .8);
  backdrop-filter: blur(10px);
  border-radius: 2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  border: 1px solid #112D70;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 280px;
  position: fixed;
  top: 20px;
  width: 40%;
} */

@media only screen and (max-width: 500px) {
  /* For mobile Phones: */
  .minimizable-web-chat>.chat-box {
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(10px);
    /* border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    border: 1px solid #112D70; */
    padding: 0px;
    margin: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 500px) {
  /* For tablets: */
  .minimizable-web-chat>.chat-box {
    background-color: rgba(255, 255, 255, .8);
    /* backdrop-filter: blur(10px); */
    /* border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2); */
    border: 1px solid #112D70;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 350px;
    top: 10% !important;
    bottom: 5% !important;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .minimizable-web-chat>.chat-box {
    width: 400px;
    /* height: 700px; */
    background-color: rgba(255, 255, 255, .8);
    /* border-radius: 2px; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, .2); */
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 1px solid #112D70;
    top: 10% !important;
    bottom: 5% !important;
  }
}

.minimizable-web-chat>.chat-box.hide {
  display: none;
}

.minimizable-web-chat>.chat-box.left {
  left: 20px;
  background: #282E3E;
}

.minimizable-web-chat>.chat-box.right {
  right: 20px;
  background: #282E3E;
}

.minimizable-web-chat>.chat-box>header {
  /* head of chat box */
  background-color: #282E3E;
  min-height: 190px !important;
  text-align: center;
}

.react-web-chat {
  border-radius: 25px 25px 0px 0px;
  background: #F5F5F5;
}

.webchat__basic-transcript {
  border-radius: 25px 25px 0px 0px;
  background: #F5F5F5;
}

.webchat__basic-transcript__scrollable {
  border-radius: 25px 25px 0px 0px;
  background: #F5F5F5;
}

.webchat__basic-transcript__transcript {
  border-radius: 25px 25px 0px 0px;
  background: #F5F5F5;
}

/*

 .webchat__basic-transcript__filler {
  background: #282E3E;
}

*/

/* .minimize {
  background-color: Transparent !important;
}

.switch {
  background-color: Transparent !important;
} */

/* .minimizable-web-chat > .chat-box > header > .filler {
  flex: 0 10000 100%;
} */

/* .minimizable-web-chat > .chat-box > header > button {
  width: 40px;
  height: 40px;
  background-color: Transparent;
  border: 0;
  color: #112D70 ;
  outline: 0;
} */

/* .minimizable-web-chat > .chat-box > header > button:focus:not(:active),
.minimizable-web-chat > .chat-box > header > button:hover:not(:active) {
  color: #112D70;

}

.minimizable-web-chat > .chat-box > header > button:focus:active {
  color: #112D70 !important;
}

.minimizable-web-chat > .chat-box > .react-web-chat {
  flex: 1;
} */